# Data review

In [1]:
psychopy_file = 'data_files/Cond1Full_Mattsen_Study3_2021_Jun_25_1057.csv'
eeg_file = 'data_files/Condition1Full.vmrk'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(psychopy_file)
df.columns

Index(['stim_type', 'sound', 'name', 'base_code', 'code', 'hvc_block.thisRepN',
       'hvc_block.thisTrialN', 'hvc_block.thisN', 'hvc_block.thisIndex',
       'lvc_block.thisRepN', 'lvc_block.thisTrialN', 'lvc_block.thisN',
       'lvc_block.thisIndex', 'sound.started', 'trial.started', 'block.name',
       'port.code', 'rest.started', 'rest.stopped', 'participant', 'group',
       'date', 'expName', 'psychopyVersion', 'frameRate', 'Unnamed: 25'],
      dtype='object')

In [4]:
df.head()

,stim_type,sound,name,base_code,code,hvc_block.thisRepN,hvc_block.thisTrialN,hvc_block.thisN,hvc_block.thisIndex,lvc_block.thisRepN,...,port.code,rest.started,rest.stopped,participant,group,date,expName,psychopyVersion,frameRate,Unnamed: 25
0,std,1,Central_50ms,1,99,0.0,0.0,0.0,0.0,NaN,...,99,NaN,NaN,Cond1Full,1,2021_Jun_25_1057,Mattsen_Study3,2021.1.4,59.989766,NaN
1,std,13,right_45deg_50ms,1,99,0.0,1.0,1.0,1.0,NaN,...,99,NaN,NaN,Cond1Full,1,2021_Jun_25_1057,Mattsen_Study3,2021.1.4,59.989766,NaN
2,std,1,Central_50ms,1,99,0.0,2.0,2.0,2.0,NaN,...,99,NaN,NaN,Cond1Full,1,2021_Jun_25_1057,Mattsen_Study3,2021.1.4,59.989766,NaN
3,std,3,left_22.5deg_50ms,1,1,0.0,3.0,3.0,3.0,NaN,...,1,NaN,NaN,Cond1Full,1,2021_Jun_25_1057,Mattsen_Study3,2021.1.4,59.989766,NaN
4,std,13,right_45deg_50ms,1,1,0.0,4.0,4.0,4.0,NaN,...,1,NaN,NaN,Cond1Full,1,2021_Jun_25_1057,Mattsen_Study3,2021.1.4,59.989766,NaN

block.name  code
hvc         1       1167
            2        135
            11      1167
            12       135
            98       270
            99         6
lvc         3       1167
            4        135
            13      1167
            14       135
            98       270
            99         6
Name: sound, dtype: int64

In [6]:
df2 = pd.read_csv(eeg_file,
                  skiprows=12,
                  header=None,
                  names=['type', 'evtcode', 'time', 'tmp1', 'tmp2'],
                  usecols=['evtcode', 'time'])

In [7]:
df2.evtcode = df2.evtcode.str.split(expand=True).iloc[:, 1]

In [8]:
df2.evtcode = df2.evtcode.astype('int64')

In [9]:
combined = pd.concat(
    [df[['stim_type', 'name', 'code', 'trial.started']], df2],
    axis=1
)

In [10]:
combined.dtypes

stim_type         object
name              object
code               int64
trial.started    float64
evtcode          float64
time             float64
dtype: object

In [11]:
combined

     stim_type               name  code  trial.started  evtcode       time
0          std       Central_50ms    99       0.499711     99.0     9959.0
1          std   right_45deg_50ms    99       0.998425     99.0    10503.0
2          std       Central_50ms    99       1.499172      1.0    11004.0
3          std  left_22.5deg_50ms     1       1.998976      1.0    11504.0
4          std   right_45deg_50ms     1       2.499698      1.0    12004.0
...        ...                ...   ...            ...      ...        ...
5755       std   right_67deg_50ms    11    3177.999847     11.0  3187514.0
5756       std   right_67deg_50ms    11    3178.499514     11.0  3188014.0
5757       std   right_67deg_50ms    11    3178.998136     11.0  3188512.0
5758       std   right_67deg_50ms    11    3179.499838     11.0  3189014.0
5759       std   right_67deg_50ms    11    3179.999481      NaN        NaN

[5760 rows x 6 columns]

In [15]:
df.groupby(['code']).sound.count()

code
1     1167
2      135
3     1167
4      135
11    1167
12     135
13    1167
14     135
98     540
99      12
Name: sound, dtype: int64

In [14]:
df2.groupby(['evtcode']).evtcode.count()

evtcode
1     1167
2      135
3     1167
4      135
11    1167
12     135
13    1167
14     135
98     540
99      11
Name: evtcode, dtype: int64